# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
.venv/
venv/
ENV/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Other
.DS_Store
.env
text.json